.header {
    background: linear-gradient(180deg, #498103 0%, #A9E646 100%);
}
.header__container{
    max-width: 1440px;
    max-height: 101px;
    display: flex;
    justify-content: center;
    @media (min-width: (320px)) and (max-width: (767px)){
        min-height: 320px;
        display: flex;
        flex-wrap: wrap;
    }
} .header__nav-logo{
    width: 153px;
    height: 87px;
}.header__nav-gameshow{
    margin: auto 78px auto 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    @media (min-width: (320px)) and (max-width: (767px)){
        width: 100%;
        text-align: center;
    }
}.header__nav-button-star{
    width: 287px;
    height: 50px;
    margin: auto 78px auto 0;
    border: 2px solid #FFE26E;
    background: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    @media (min-width: (768px)) and (max-width: (1023px)){
        width: 300px;
        font-size: 14px;
    }
    @media (min-width: (320px)) and (max-width: (767px)){
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    

    
}.header__nav-star{
    justify-content: center;
    margin-bottom: -3px;
    margin-right: 9px;
    @media (min-width: (768px)) and (max-width: (1023px)){
        display: none;
    }
    
}.header__nav-playnow{
    width: 157px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #004216;
    border: 0;
    margin: auto 0 auto 0;
    background: linear-gradient(180deg, #DEFFC4 0%, #97FF45 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 25px rgba(114, 255, 48, 0.49), inset 0px -4px 10px #00B9F3, inset 0px 4px 10px #0EB500;
    transition: transform .25s ease-in-out;
    cursor: pointer;
    @media (min-width: (768px)) and (max-width: (1023px)){
        width: 250px;
        margin-left: -50px;
    }
    @media (min-width: (320px)) and (max-width: (767px)){
        margin-bottom: 25px;
    }
}

.header__nav-playnow:hover{
    transform: scale(1.1);
}

.header__nav-button-star:hover{
    transform: scale(1.1);
    cursor: pointer;
}