.faq{
  @media (min-width: (320px)) and (max-width: (767px)){
    display: none;
  }
  &-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 35px;
    @media (min-width: (320px)) and (max-width: (767px)){
      font-size: 30px;
    }
  }
  &__questanswer{
    display: flex;
    border: 1px solid #FFE26E;
    border-radius: 8px;
    margin-top: 5px;
  }
  &__quest{
    background: #EEFACB;
    border-radius: 8px;
    &-text{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      margin: 59px 50px;

    }
  }
  &__answer{

    &-text{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #FFFFFF;
      margin: 59px 56px;

    }
  }
}