.game__container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.game__bestoffers {
  margin-top: 23px;
  background: #f3ffd1;
  width: 505px;
  padding-bottom: 60px;
  @media (min-width: (320px)) and (max-width: (767px)){
    width: 340px;
    display: none;
  }
}
.game__title {
  padding-top: 31px;
  margin-left: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  @media (min-width: (320px)) and (max-width: (767px)){
    font-size: 30px;
    padding-top: 10px;
    margin-left: 25px;
    
  }
}
.game__card {
  display: flex;
  margin-top: 28px;
  margin-left: 44px;
  @media (min-width: (320px)) and (max-width: (767px)){
    margin-left: 25px;
    display: none;

  }

  &__logo {
    width: 81px;
    height: 52px;
    
    
  }
  &-stars{
    margin-left: 8px;
  }
  &-text{
    margin-left: 8px;

    
  }

  & .stars {
    &__rate {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      margin-right: 8px;
    }

    &__item {
      width: 10px;
      height: 10px;
    }
  }

  &-text {
    width: 145px;
    margin-right: 29px;
    margin-bottom: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
  }
  &-btn {
    width: 141px;
    height: 52px;
    border: 0px solid;
    background: linear-gradient(180deg, #deffc4 0%, #97ff45 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 25px rgba(114, 255, 48, 0.49), inset 0px -4px 10px #00b9f3,
      inset 0px 4px 10px #0eb500;
    transition: 0.5s;
    @media (min-width: (320px)) and (max-width: (767px)){
      display: flex;
      
      align-items: center;
      justify-content: center;
      height: 35px;
      font-size: 12px;
      margin-top: 8px;
      margin-left: -25px;
      margin-right: 10px;
    }
  }
}

.game__text {
  width: 634px;
  margin-top: 24px;
  border: 1px solid #ffe26e;
  &-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #ffffff;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 37px;
    @media (min-width: (320px)) and (max-width: (767px)){
      font-size: 25px;
    }
  }
  &-text {
    padding-right: 31px;
    padding-left: 31px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 18px;
    @media (min-width: (320px)) and (max-width: (767px)){
      font-size: 14px;
    }
  }
  &-text2 {
    margin-top: 25px;
    padding-bottom: 56px;
  }
}

.game__table {
  table {
    padding-top: 26px;
    padding-left: 56px;
    padding-right: 92px;
    padding-bottom: 26px;
    border: 1px solid #ffe26e;

  }



  th {
    margin-right: 9px;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-top: 4px;
    @media (min-width: (320px)) and (max-width: (767px)){
      font-size: 12px;
      margin-right: 5px;
      padding-right: 20px;
      text-align: left;
    }
  }
  td {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    @media (min-width: (320px)) and (max-width: (767px)){
      font-size: 12px;
      
    }
  }
}


.game__videoreview{
    width: 634px;
    height: 448px;
    
    background: rgba(243, 255, 209, 0.97);
    @media (min-width: (320px)) and (max-width: (767px)){
      width: 100%;
    }
    &-title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 108px;
        padding-left: 30px;
        padding-bottom: 20px;
        @media (min-width: (320px)) and (max-width: (767px)){
          font-size: 25px;
          padding-bottom: 0;
        }
    }
    &-video{
        display: flex;
        position: relative;
        padding-left: 21px;
        padding-right: 30px;
        padding-bottom: 56px;
        margin-bottom: 20px;

        
    }
    &-play{
      
        left: 0;
        top: 0;
        position: absolute;
        background: rgba(238, 203, 47, 0);
        border: 0px solid;
        border-radius: 100%;
        margin: 70px 218px 67px 231px;
        
        @media (min-width: (320px)) and (max-width: (767px)){
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          
        }
    }
    &-hero{
      @media (min-width: (320px)) and (max-width: (767px)){
        width: 100%;
      }
    }

}

.game__btn{
    display: flex;
    width: 197px;
    height: 59px;
    background: linear-gradient(180deg, #DEFFC4 0%, #97FF45 100%);
    border: 2px solid #004216;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 25px rgba(114, 255, 48, 0.49), inset 0px -4px 10px #00B9F3, inset 0px 4px 10px #0EB500;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    &-con{
      width: 100%;
    }
}


.game__card-btn:hover{
  transform: scale(1.1);
  cursor: pointer;

}

.game__btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}
