<section class="bonus">
    <div class="bonus__container container">
        <div class="bonus__wrapper">
            <div class="bonus__card card">
                <picture class="card__img">
                    <img src="img\bonuscard.png" alt="card">
                </picture>
                <p class="card__rate">8.2/10</p>
                <div class="card__stars stars">
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                </div>
                <picture class="bonus__star stars">
                </picture>
                <h2 class="card__title">100% up to $9,000 on First Deposit</h2>
                <button class="card__play">play now</button>
            </div>

            <div class="bonus__card card">
                <picture class="card__img">
                    <img src="img\bonuscard.png" alt="card">
                </picture>
                <p class="card__rate">8.2/10</p>
                <div class="card__stars stars">
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                </div>
                <picture class="bonus__star stars">
                </picture>
                <h2 class="card__title">100% up to $9,000 on First Deposit</h2>
                <button class="card__play active">play now</button>
            </div>

            <div class="bonus__card card">
                <picture class="card__img">
                    <img src="img\bonuscard.png" alt="card">
                </picture>
                <p class="card__rate">8.2/10</p>
                <div class="card__stars stars">
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="stars__item">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                </div>
                <picture class="bonus__star stars">
                </picture>
                <h2 class="card__title">100% up to $9,000 on First Deposit</h2>
                <button class="card__play">play now</button>
            </div>
        </div>
        <div class="bonus__slotraid">
            <p class="bonus__slotraid-text">Slot Rating from Players</p>
            <picture class="bonus__star">
                <img class="bonus__star-img" src="img\svg\star.svg" alt="star" height="18px" width="18px">
                <img class="bonus__star-img" src="img\svg\star.svg" alt="star" height="18px" width="18px">
                <img class="bonus__star-img" src="img\svg\star.svg" alt="star" height="18px" width="18px">
                <img class="bonus__star-img" src="img\svg\star.svg" alt="star" height="18px" width="18px">
                <img class="bonus__star-img" src="img\svg\star.svg" alt="star" height="18px" width="18px">
            </picture>
            <p class="bonus__slotraid-text">Rank: 99/100</p>
        </div>

    </div>
</section>