<section class="faq">
  <div class="faq__container container">
    <h2 class="faq-title">
      FAQ
    </h2>
    <div class="faq__questanswer">
      <div class="faq__quest">
        <p class="faq__quest-text">
          Where can I play the Crazy Time spin game?
        </p>
        <p class="faq__quest-text">
          Where can I play the Crazy Time spin game?
        </p>
        <p class="faq__quest-text">
          Where can I play the Crazy Time spin game?
        </p>
        <p class="faq__quest-text">
          Where can I play the Crazy Time spin game?
        </p>
      </div>
      <div class="faq__answer">
        <p class="faq__answer-text">
          You can enjoy the live casino game in any online casino. Ensure it's regulated and licensed for max safety playing online.
        </p>
        <p class="faq__answer-text">
          You can enjoy the live casino game in any online casino. Ensure it's regulated and licensed for max safety playing online.
        </p>
        <p class="faq__answer-text">
          You can enjoy the live casino game in any online casino. Ensure it's regulated and licensed for max safety playing online.
        </p>
        <p class="faq__answer-text">
          You can enjoy the live casino game in any online casino. Ensure it's regulated and licensed for max safety playing online.
        </p>
      </div>
    </div>

  </div>
</section>