<footer class="footer">
  <div class="footer__container container">
    <div class="footer__text">    
      <picture>
        <img class="footer__logo" src="/img/logo.png" alt="logo" width="153px" height="87px">
      </picture>
      <p class="footer-text">
        Be ready to have fun and win money online simultaneously in Crazy Time game show by Evolution. Just place a bet on your lucky number. With multipliers up to 25,000x and 4 bonus games your chances on reward are even higher.
      </p>
    </div>

    <p class="footer__2022">
      2022 ©  from Evolution Gaming. Play responsibly.
    </p>
  </div>
</footer>
