<section class="game">
    <div class="game__container container">
        <div class="game__bestoffers">
            <h1 class="game__title">Best Offers</h1>
            <div class="game__card">
                <img src="img\bestoffers.png" class="game__card-logo" alt="game" height="52" width="81">
                <div class="game__card-textstarraid">
                    <h2 class="game__card-text">100% up to $9,000 on First Deposit</h2>
                    <div class="game__card-stars stars">
                        <span class="stars__rate">10/10</span>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                    </div>

                </div>
                <button class="game__card-btn">PLAY NOW</button>
            </div>
            <div class="game__card">
                <img src="img\bestoffers.png" class="game__card-logo" alt="game" height="52" width="81">
                <div class="game__card-textstarraid">
                    <h2 class="game__card-text">100% up to $9,000 on First Deposit</h2>
                    <div class="game__card-stars stars">
                        <span class="stars__rate">10/10</span>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                    </div>

                </div>
                <button class="game__card-btn">PLAY NOW</button>
            </div>
            <div class="game__card">
                <img src="img\bestoffers.png" class="game__card-logo" alt="game" height="52" width="81">
                <div class="game__card-textstarraid">
                    <h2 class="game__card-text">100% up to $9,000 on First Deposit</h2>
                    <div class="game__card-stars stars">
                        <span class="stars__rate">10/10</span>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                    </div>

                </div>
                <button class="game__card-btn">PLAY NOW</button>
            </div>
            <div class="game__card">
                <img src="img\bestoffers.png" class="game__card-logo" alt="game" height="52" width="81">
                <div class="game__card-textstarraid">
                    <h2 class="game__card-text">100% up to $9,000 on First Deposit</h2>
                    <div class="game__card-stars stars">
                        <span class="stars__rate">10/10</span>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__item">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                    </div>

                </div>
                <button class="game__card-btn">PLAY NOW</button>
            </div>
        </div>
        <div class="game__text">
            <h2 class="game__text-title">Crazy Time Casino
                Game Review</h2>
            <p class="game__text-text1 game__text-text">
                The live casino game is set in a large, colourful, entertaining casino studio with a large money wheel,
                a top slot above the money wheel, and 4 bonus games. The gameplay revolves around the main and bonus
                games. It's easy to play with just 4 numbers to bet on (1, 2, 5 and 10) plus the bonus games.
            </p>
            <p class="game__text-text2 game__text-text">
                During the main game, the top slot and money wheel spin together at the beginning of each spin. The top
                slot will generate a random multiplier for a bet number or bonus game. The multiplier then affects the
                bet number if the main wheel stops on the bet spot.
            </p>
        </div>
        <div class="game__table">
            <table>
                <tr>
                    <th>Provider</th>
                    <td>Lorem ipsum</td>
                </tr>
                <tr>
                    <th>Release Date</th>
                    <td>12.03.2022</td>
                </tr>
                <tr>
                    <th>RTP</th>
                    <td>96.30%</td>
                </tr>
                <tr>
                    <th>Layout</th>
                    <td>6x4</td>
                </tr>
                <tr>
                    <th>Volatility</th>
                    <td>HIGH</td>
                </tr>
                <tr>
                    <th>Win Potential</th>
                    <td>Lorem ipsum</td>
                </tr>
                <tr>
                    <th>Provider</th>
                    <td>x1000</td>
                </tr>
                <tr>
                    <th>Paylines</th>
                    <td>10</td>
                </tr>
                <tr>
                    <th>Bet Range</th>
                    <td>$1 - $100</td>
                </tr>
                <tr>
                    <th>Devices</th>
                    <td>PC, Mac, iOS, Android</td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td>5/5</td>
                </tr>
                <tr>
                    <th>Special features</th>
                    <td>Bonus Buy, Wild Symbols, Free Spins</td>
                </tr>
            </table>
        </div>
        <div class="game__videoreview">
            <h2 class="game__videoreview-title">Video Review</h2>
            <div class="game__videoreview-video">
                <picture>
                  <source srcset="/img/hero.avif" type="image/avif">
                  <source srcset="/img/hero.webp" type="image/webp">
                  <img loading="lazy" src="/img/hero.png" class="game__videoreview-hero" width="575" height="274" alt="hero">
                </picture>
                <button class="game__videoreview-play">
                    <picture>
                        <source srcset="/img/play.avif" type="image/avif">
                        <source srcset="/img/play.webp" type="image/webp">
                        <img loading="lazy" src="/img/play.png" class="game__videoreview-play-" width="154" height="154" alt="video">
                    </picture>
                </button>
            </div>
        </div>
        <div class="game__btn-con">
            <button class="game__btn">
                PLAY NOW
            </button>
        </div>

    </div>
</section>