<section class="hero">
    <div class="hero__container container">
        <h1 class="hero__title">PLAY CRAZY TIME IN HUNGARY</h1>
        <div class="hero__play">
            <picture>
              <source srcset="/img/hero.avif" type="image/avif">
              <source srcset="/img/hero.webp" type="image/webp">
              <img loading="lazy" src="/img/hero.png" class="image hero__play-bg" width="1170" height="550" alt="hero_bg">
            </picture>
            <button class="hero__play-free play-btns">PLAY FOR FREE</button>
            <button class="hero__play-money play-btns">PLAY FOR MONEY</button>
        </div>
        <button class="hero__realmoney">PLAY FOR REAL MONEY</button>
    </div>
</section>