<section class="howtoplay">
  <div class="howtoplay__container container">
    <h2 class="howtoplay-title">
      H2 How to Play
    </h2>
    <p class="howtoplay-text">
      As mentioned, the game comes with 4 bonus segments;
    </p>
    <picture>
      <img class="howtoplay-img" src="/img/howtoplay.png" alt="howtoplay">
    </picture>
    <h2 class="howtoplay-titleh2 howtoplay-title">
      [h2] Title
    </h2>
    <p class="howtoplay-text howtoplay-texth2">
      This bonus features 108 random multipliers covered by random symbols, which are shuffled before a player positions their aim and the timer starts. The player must place a bet on the position they believe the largest multiplier is hiding. The cannon will shoot the target and reveal the won multiplier when the time is up.
    </p>
    <h3 class="howtoplay-titleh3 howtoplay-title">
      [h3] Title
    </h3>
    <p class="howtoplay-text howtoplay-texth3">
      This bonus features 108 random multipliers covered by random symbols, which are shuffled before a player positions their aim and the timer starts. The player must place a bet on the position they believe the largest multiplier is hiding. The cannon will shoot the target and reveal the won multiplier when the time is up.
    </p>
    <h4 class="howtoplay-titleh4 howtoplay-title">
      [h4] Title
    </h4>
    <p class="howtoplay-text howtoplay-texth4">
      This bonus features 108 random multipliers covered by random symbols, which are shuffled before a player positions their aim and the timer starts. The player must place a bet on the position they believe the largest multiplier is hiding. The cannon will shoot the target and reveal the won multiplier when the time is up.
    </p>
    <button class="howtoplay__btn">
      PLAY NOW
    </button>
  </div>
</section>