<section class="mobileversion">
  <div class="mobileversion__container container">
    <div class="mobileversion__crazytime">
      <h2 class="mobileversion__crazytime-title">
        [H2] Mobile Version
      </h2>
      <p class="mobileversion__crazytime-text">
        When selecting the wager on the 4 different multipliers, remember there are 4 bonus features you can bet on too. The coin flip bonus feature has the highest odds and chances of being selected because it's on the four spokes. There's also a multiplier on each side of the coin. Flip the coin to get the multiplier.
      </p>
      <div class="mobileversion__crazytime-img">
        <picture>
          <img class="mobileversion-img" src="/img/crazytime.png" alt="crazytime">
        </picture>
        <button class="mobileversion__crazytime-img-btn">
          PLAY NOW
        </button>
      </div>
      <div class="mobileversion__towin">
        <h2 class="mobileversion__towin-title">
          H2 Tips How to Win
        </h2>
        <p class="mobileversion__towin-text">
          No strategy can be employed while playing Crazy Time in India. The casino game utilizes a random number generator system that ensures all games are free from bias. A player's previous wins or losses do not affect future spins. The online casino game depends on luck rather than strategy.
        </p>
        <ul class="mobileversion__towin-list">
          <li>Cash hunt</li>
          <li>Coin flip</li>
          <li>Pachinko</li>
          <li>Crazy Time</li>
        </ul>
        <p class="mobileversion__towin-text">
          No strategy can be employed while playing Crazy Time in India. The casino game utilizes a random number generator system that ensures all games are free from bias. A player's previous wins or losses do not affect future spins. The online casino game depends on luck rather than strategy.
        </p>
      </div>
      <button class="mobileversion__towin-btn">
        PLAY NOW
      </button>
    </div>
  </div>
</section>