<section class="screenshots">
  <div class="screenshots__container container">
    <div class="screenshots__text">
      <h2 class="screenshots__text-title">
        [h2] Title
      </h2>
      <p class="screenshots__text-text text1">
        Follow these simple steps to start playing the Crazy Times casino game;
      </p>
      <p class="screenshots__text-text text2">
        In this live casino game, you'll have 8 different wagers, including numbers 1,2, 5 and 10. After that, select the amount you want to play with from the available coin values available; 0.2, 0.5, 1, 5, 25, 100 and 500.
      </p>
      <p class="screenshots__text-text text3">
        There are also 4 different bonus rounds, including;
      </p>
    </div>
    <div class="screenshots__swiper">
      <h2 class="screenshots__swiper-title">
        H2 Screenshots
      </h2>
      <div class="swiper screenshots__swiper-img">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img class="swiper-slide__img" src="/img/swiper1.png" alt="swiper" width="538"
            height="296">
          </div>

          <div class="swiper-slide">
            <img class="swiper-slide__img" src="/img/swiper2.png" alt="swiper"width="538"
            height="296">
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="js\swiper.js"></script>
</section>
