.howtoplay-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 25px;
  margin-bottom: 5px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .howtoplay-title {
    font-size: 30px;
  }
}
.howtoplay-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .howtoplay-text {
    font-size: 12px;
  }
}
.howtoplay-titleh2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 35px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .howtoplay-titleh2 {
    font-size: 30px;
  }
}
.howtoplay-titleh3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .howtoplay-titleh3 {
    font-size: 30px;
  }
}
.howtoplay-titleh4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .howtoplay-titleh4 {
    font-size: 30px;
  }
}
.howtoplay__btn {
  width: 197px;
  height: 59px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#DEFFC4), to(#97FF45));
  background: -o-linear-gradient(top, #DEFFC4 0%, #97FF45 100%);
  background: linear-gradient(180deg, #DEFFC4 0%, #97FF45 100%);
  border: 2px solid #004216;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 25px rgba(114, 255, 48, 0.49), inset 0px -4px 10px #00B9F3, inset 0px 4px 10px #0EB500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 25px rgba(114, 255, 48, 0.49), inset 0px -4px 10px #00B9F3, inset 0px 4px 10px #0EB500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.howtoplay-img {
  width: 100%;
}

.howtoplay__btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}