.screenshots__text-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 28px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .screenshots__text-title {
    font-size: 30px;
  }
}
.screenshots__text-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 767px) {
  .screenshots__text-text {
    font-size: 12px;
  }
}
.screenshots__text .text1 {
  margin-top: 13px;
  margin-bottom: 25px;
}

.screenshots__swiper {
  height: 100%;
  margin-top: 39px;
  overflow: hidden;
}
.screenshots__swiper-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 767px) {
  .screenshots__swiper-title {
    font-size: 30px;
  }
}
.screenshots__swiper .swiper {
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  background: #A3B66B;
}
@media (min-width: 320px) and (max-width: 767px) {
  .screenshots__swiper .swiper {
    padding: 20px;
  }
}
.screenshots__swiper .swiper-slide {
  height: 100%;
}
.screenshots__swiper .swiper-slide__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.swiper-button-next {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
}

.swiper-button-prev {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
}